<h1>This is the events home page</h1>
<%= link_to "New", :controller => "events", :action => "new" %>
<table>
<% @events.each do | event |%>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Time</th>
		<th>Link</th>
	</tr>
	<tr>
		<td><%= event.name %></td>
		<td><%= event.description %></td>
		<td><%= event.time %></td>
		<td><%= link_to "Go", :controller => "events", :action => "show", :id => event %></td>
	</tr>
<% end%>
</table>