<h1>Sign up</h1>

<%= form_for(@event) do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :name %><br/>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :description %><br/>
		<%= f.text_field :description %>
	</div>
	<div>
		<%= f.label :time %><br/>
		<%= datetime_select :event, :time %>
	</div>
	<div class="actions">
		<%= f.submit "Create" %>
	</div>
<% end %>